<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Interviews</h2>
                    <h3 class="section-subheading text-muted">많은 부모님과 유치원에서 칭찬해 주셨습니다!.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2014</h4>
                                    <h4 class="subheading">박영희 | 남매 엄마</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>요즘에 유치원 학원차 관련 사고사건이 많았잖아요. 이제 안심하고 아기를 맡길 수 있어서 좋아요~!                                </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2014</h4>
                                    <h4 class="subheading">김지훈 | 쌍둥이 아빠</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>맞벌이를 하다보니, 회사에서도 아이가 걱정되더라구요. 그런데 맘스벨에서 하루에 한번씩 메시지를 주니까 마음에 놓여요.                                </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2014</h4>
                                    <h4 class="subheading">윤상혁 | 유치원교사</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">매번, 아이들 출결확인하는 것은 긴장의 연속이였어요. 이제 부담감이 많이 줄었어요.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">정형주 | 유치원원장</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>맘스벨(기관용)을 설치하고 나서 학부모님들이 우리 유치원에 믿고 보내고 계십니다.                                </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>